@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #0a0785,
        #030220
    );
}

h1 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

h1, h2 {
    margin: 15px 0;
}

main {
    width: 360px;
    height: auto;
    margin: 30px auto;
    background-color: #f8f8f8;
    border: 1px solid #dbd9d9;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #121212;
}

form {
    width: 330px;
    height: auto;
    margin: 15px auto;
    border: 2px solid #f0f0f0;
}

form div {
    display: flex;
    flex-flow: column nowrap;
    margin: 8px 10px;
}

section#sec-result {
    width: 350px;
    margin: 30px auto;
    border: 1px solid #dbd9d9;
    border-radius: 5px;
    padding: 5px 15px;
}

section#sec-result ul {
    margin-left: 30px;
}

section#sec-result li {
    font-size: 1em;
    font-weight: bold;
}

section#sec-result img {
    width: 80px;
    height: 35px;
}